:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.top-margin-0 {
  margin-top: 0px !important;
}

.card svg.material-icons path {
  fill: #888;
}


.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

#mortgage-calculator {
  min-width: 270px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.digit {
  font-size: 14pt;
  font-weight: bold;
}

.example-section {
  display: flex;
  flex-direction: column;
}

.mat-slider-horizontal {
  width: 100%;
}

.mat-slider-vertical {
  height: 300px;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  width: 70px !important;
  height: 70px !important;
  top: -85px !important;
  right: -33px !important;
}

::ng-deep .mat-slider-horizontal .mat-slider-thumb-label {

}
.error_content {
  padding: 10px;
}
.order_button_div {
  padding-top: 10px;
}
.example-margin {
  border: 0px;
  width: 250px;
  padding: 12px;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }
  mat-form-field {
    .mat-hint, input, ::placeholder, .mat-form-field-label {
      color: white;
    }
  }
}
