<mat-card class="shipping-card">
  <mat-card-content>
    <div class="flex-column">
      <mat-form-field class="w-100 flex-column justify-content-center">
        <mat-label>Стоимость недвижимости</mat-label>
        <input class="w-100 fs-1" matInput placeholder="Стоимость недвижимости" [ngModel]="realty_price|number:'1.0-0':'ru'"
               readonly>
        <span matSuffix class="input-suffix">&nbsp; руб.</span>
        <mat-slider class="w-95" [min]="min_realty_price" [max]="max_realty_price" [step]="step_realty_price">
          <input matSliderThumb [(ngModel)]="realty_price" (ngModelChange)="calculate($event)">
        </mat-slider>
      </mat-form-field>
      <mat-form-field class="w-100 flex-column justify-content-center">
        <mat-label>Первоначальный взнос {{down_percent}}%</mat-label>
        <input class="w-100 fs-1" matInput placeholder="Стоимость квартиры" [ngModel]="down_payment|number:'1.0-0':'ru'"
               readonly>
        <span matSuffix class="input-suffix">&nbsp; руб.</span>
        <mat-slider class="w-95" [min]="min_down_payment" [max]="max_down_payment" [step]="step_down_payment" discrete [displayWith]="displayFnDown.bind(this)">
          <input matSliderThumb [(ngModel)]="down_payment" (ngModelChange)="calculate($event)">
        </mat-slider>
      </mat-form-field>
      <mat-form-field class="w-100 flex-column justify-content-center">
        <mat-label>{{stavka_title}} {{percent}}%</mat-label>
        <input class="w-100 fs-1" type="number" matInput [placeholder]="stavka_title" [ngModel]="percent"
               readonly>
        <span matSuffix class="input-suffix">&nbsp; %</span>
        <mat-slider class="w-95" [min]="min_percent" [max]="max_percent" [step]="step_percent">
          <input matSliderThumb [(ngModel)]="percent" (ngModelChange)="calculate($event)">
        </mat-slider>
      </mat-form-field>
      <mat-form-field class="w-100 flex-column justify-content-center">
        <mat-label>Срок кредита (лет)</mat-label>
        <input class="w-100 fs-1" type="number" matInput placeholder="Срок кредита" [ngModel]="years"
               readonly>
        <span matSuffix class="input-suffix">&nbsp; лет</span>
        <mat-slider class="w-95" [min]="min_years" [max]="max_years" [step]="step_years">
          <input matSliderThumb [(ngModel)]="years" (ngModelChange)="calculate($event)">
        </mat-slider>
      </mat-form-field>


      <div class="result example-margin" *ngIf="show_credit_sum || show_overpayment">

        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile class="justify-content-start"><p *ngIf="show_credit_sum">Сумма кредита<br> <span class="fw-bold">{{realty_minus_down|number:'1.0-0':'ru'}}</span> руб.</p></mat-grid-tile>
          <mat-grid-tile class="justify-content-start"><p>{{top_text}}<br><span class="fw-bold"> {{month_payment|number:'1.0-0':'ru'}} </span> руб.</p></mat-grid-tile>
          <mat-grid-tile class="justify-content-start"><p *ngIf="show_overpayment">Переплата<br> <span class="fw-bold">{{overpayment|number:'1.0-0':'ru'}}</span> руб.</p></mat-grid-tile>
          <mat-grid-tile class="justify-content-start"><p>Процентная ставка<br> <span class="fw-bold">{{percent}}</span> %</p></mat-grid-tile>
        </mat-grid-list>


      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="flex-column">
    <div *ngIf="show_order_button">
      <button mat-raised-button color="accent" (click)="form_submit()">Оформить заявку</button>
    </div>
  </mat-card-actions>
</mat-card>
